@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Ubuntu Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.badge {
  background-color: rgb(255, 196, 0);
  color: black;
  padding: 0.2em 0.5em;
  margin-left: 0.5em;
  border-radius: 0.2em;
  font-weight: bold;
}

.container {
  margin: 50px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  color: white; /* Ensure text is readable */
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 30vw;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  margin-bottom: 10px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #05614a !important;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #29d384 !important;
}

#resultWikipedia {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background for contrast */
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  margin: 20px auto;
}

.loader {
  display: block; /* Sera affiché dynamiquement par React */
}

.result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.resultTitle {
  margin-bottom: 20px;
  color: #05614a;
}

.userResult {
  background-color: rgba(0, 0, 0, 0.5);
}

h6, h5 {
  margin: 0;
}

h6 {
  display: flex;
  align-items: center;
}

h6 .badge {
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
